<div layout="column" class="login-wrapper">
    <div class="header">
        <div fxLayout="row">
            <div fxFlex="6">
                <img src="assets/logo-small.png" width="70" height="70">
            </div>
            <div fxFlex="25" class="logo-text image-social">Office of the Chief Electoral Officer<br>Government of Tripura</div>
            <div fxFlex="53" class="header-text-mobile">TRIPURA ELECTION TRAINING AND LEARNING MANAGEMENT SYSTEM</div>
            <div fxFlex="53" class="header-text">TRIPURA ELECTION TRAINING AND LEARNING MANAGEMENT SYSTEM</div>
            <div fxFlex class="image-social">
                <img class="social-img" (click)="goto('facebook')" src="assets/facebook.png" width="50" height="50">
                <img class="social-img" (click)="goto('youtube')" src="assets/youtube.png" width="44" height="44">
                <img class="social-img" (click)="goto('twitter')" src="assets/twitter.png" width="50" height="50">
                <img class="social-img" (click)="goto('instagram')" src="assets/instagram.png" width="42" height="42">
            </div>
        </div>    
    </div>
    <div class="menu-bar">
        <div fxLayout="row">
            <div fxLayout="row" fxFlex="8" class="menu-item-wrapper" (click)="routeGoTo('home')">
                <div><i class="material-icons">home</i></div>
                <div class="menu-text-align">Home</div>
            </div>
            <div fxLayout="row" fxFlex="8" class="menu-item-wrapper active-selected-menu" (click)="routeGoTo('about')">
                <div><i class="material-icons">assignment_ind</i></div>
                <div class="menu-text-align">About</div>
            </div>
            <div fxLayout="row" fxFlex="11" class="menu-item-wrapper" (click)="routeGoTo('registration')">
                <div><i class="material-icons">notes</i></div>
                <div class="menu-text-align">Registration</div>
            </div>
            <div fxLayout="row" fxFlex="14" class="menu-item-wrapper" (click)="routeGoTo('material')">
                <div><i class="material-icons">menu_book</i></div>
                <div class="menu-text-align">Learning Material</div>
            </div>
            <div fxLayout="row" fxFlex="14" class="menu-item-wrapper" (click)="routeGoTo('test')">
                <div><i class="material-icons">school</i></div>
                <div class="menu-text-align">Take a Test</div>
            </div>
            <div *ngIf="userinfo" fxLayout="row" fxFlex fxLayoutAlign="end center" class="logout-right">
                <div fxLayout="row" class="username-display">{{userinfo.name ? userinfo.name : ''}}</div>
                <div fxLayout="row" class="menu-item-wrapper" (click)="routeGoTo('logout')">
                    <div><i class="material-icons">logout</i></div>
                    <div class="menu-text-align-logout">Logout</div>
                </div>
            </div>
        </div>    
    </div>
    <div class="content">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.lg="100" fxFlex.xl="100" class="message-box">
                <div style="font-weight: 500; font-size: 16px; margin-top: 10px;">Tripura Election Training and Assessment Portal</div>
                <div style="padding: 30px 20px 0 20px; text-align: justify;">
                    <p>The portal is an endeavor of the office of the Chief Electoral Officer, Tripura with an aim to expedite the process of training and assessment of the personnel nominated for engagement in the Assembly Elections for the state Tripura referred to as assessee, through online mode thereby reducing paper based assessment, reducing manpower involvement in the learning & assessment process, creating a learning environment at the distance of a palm using mobile, or the table using a desktop PC, or a laptop.</p>
                    <p>The portal provides facility for registration of the assesses, through a pre allotted user-id and password. On successful registration, the assesses shall be facilitated with access to the learning materials in the LMS section of the portal wherein the portal is populated with various tutorials in Portable Document Format (PDF), Power Point Presentation (PPT) & video format.</p>                   
                    <p>The portal provides facility for online assessment of the assesses, on various duties & responsibilities entrusted with for the Election. Candidate(s) with satisfactory performance shall be awarded with a certificate in pdf format immediately after completion of the online test. Candidate(s) can download the same immediately from the portal. Candidate(s) requiring improvement shall be redirected to the LMS section for further reading and learning and also shall have the privilege to take the test again for better understating of the process and work functions specific to his / her assigned responsibilities.</p>                   
                    <p style="font-weight: 600;">Contact us at <span style="font-weight: 700; color: #3289c3;">tripuraelection@gmail.com</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">© Copyright 2022 All Rights Reserved</div>
        <div class="credits">Office of the Chief Electoral Officer, Tripura All rights reserved. Content Managed by Office of the Chief Electoral Officer, Tripura</div>
    </div>
  </div>