<div layout="column" class="login-wrapper">
    <div class="header">
        <div fxLayout="row">
            <div fxFlex="6">
                <img src="assets/logo-small.png" width="70" height="70">
            </div>
            <div fxFlex="25" class="logo-text image-social">Office of the Chief Electoral Officer<br>Government of Tripura</div>
            <div fxFlex="53" class="header-text-mobile">TRIPURA ELECTION TRAINING AND LEARNING MANAGEMENT SYSTEM</div>
            <div fxFlex="53" class="header-text">TRIPURA ELECTION TRAINING AND LEARNING MANAGEMENT SYSTEM</div>
            <div fxFlex class="image-social">
                <img class="social-img" (click)="goto('facebook')" src="assets/facebook.png" width="50" height="50">
                <img class="social-img" (click)="goto('youtube')" src="assets/youtube.png" width="44" height="44">
                <img class="social-img" (click)="goto('twitter')" src="assets/twitter.png" width="50" height="50">
                <img class="social-img" (click)="goto('instagram')" src="assets/instagram.png" width="42" height="42">
            </div>
        </div>    
    </div>
    <div class="menu-bar">
        <div fxLayout="row">
            <div fxLayout="row" fxFlex="8" class="menu-item-wrapper" (click)="menuItems('home')">
                <div><i class="material-icons">home</i></div>
                <div class="menu-text-align">Home</div>
            </div>
        </div>    
    </div>
    <div class="content">
        <div class="content-header">Create Questionsdff</div>
        <form #usersForm="ngForm" (ngSubmit)="onCreateUsers()">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" fxFlex.lg="25" fxFlex.xl="25">
                        <mat-form-field class="request-field" appearance="outline">
                            <mat-label>Job Role</mat-label>
                            <mat-select [(ngModel)]="jobRole" id="jobRole" name="jobRole" required="true">
                                <mat-option value="ALMT">ALMT</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>    
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" fxFlex.lg="25" fxFlex.xl="25">
                        <input id="file" name="file" placeholder="" autocomplete="off" type="file" required>
                        <button type="button"mat-raised-button color="primary"  (click)="upload()">Upload</button>
                    </div>
                </div>
            </div>
            <!-- <div fxLayout fxLayoutAlign="center center" style="margin-top: 30px;">
                <button mat-raised-button color="primary" type="submit">Create</button>
            </div> -->
        </form>
    </div>       
</div>